<!DOCTYPE html>
<html>
<head>
  <title>BcmsS3</title>
  <%= stylesheet_link_tag    "bcms_s3/application", media: "all" %>
  <%= javascript_include_tag "bcms_s3/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
